/* External link icon

a:not([href*='cashpw.com']):not([href^='#']):not([href^='/']):after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
    margin: 0 0 0 5px;
}

a[target=_blank]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
    margin: 0 0 0 5px;
}

.header .nav a:after,
.social-icons a:after {
    content: '' !important;
}*/


/* Standard link coloring */
.main a {
    color: var(--link-color);
}

.main a:visited {
    color: var(--primary);
}

.main .toc a {
    color: var(--primary);
}

.main .post-content .toc a
    color: var(--link-color);
}

.social-icons a {
    color: inherit;
}
.social-icons a:after {
    display: none;
}
