a:not([href*='www.cashweaver.com']):not([href^='#']):not([href^='/']):after {
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 16px 16px !important;
  content: '';
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
a[href*='https://www.severe-weather.eu']:after {
  background-image: url('/favicons/www.severe-weather.eu.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.sgvtribune.com']:after {
  background-image: url('/favicons/www.sgvtribune.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.simplethread.com']:after {
  background-image: url('/favicons/www.simplethread.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.sirlin.net']:after {
  background-image: url('/favicons/www.sirlin.net.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.slashfilm.com']:after {
  background-image: url('/favicons/www.slashfilm.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.slatestarcodexabridged.com']:after {
  background-image: url('/favicons/www.slatestarcodexabridged.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.smallstepcap.com']:after {
  background-image: url('/favicons/www.smallstepcap.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.sobieckipioneering.com']:after {
  background-image: url('/favicons/www.sobieckipioneering.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.solzhenitsyncenter.org']:after {
  background-image: url('/favicons/www.solzhenitsyncenter.org.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.sonyaellenmann.com']:after {
  background-image: url('/favicons/www.sonyaellenmann.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.sprintphysio.co.uk']:after {
  background-image: url('/favicons/www.sprintphysio.co.uk.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.srid.ca']:after {
  background-image: url('/favicons/www.srid.ca.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.strangeloopcanon.com']:after {
  background-image: url('/favicons/www.strangeloopcanon.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.strongtowns.org']:after {
  background-image: url('/favicons/www.strongtowns.org.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.studyfinds.org']:after {
  background-image: url('/favicons/www.studyfinds.org.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.swyx.io']:after {
  background-image: url('/favicons/www.swyx.io.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.theatlantic.com']:after {
  background-image: url('/favicons/www.theatlantic.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.thediff.co']:after {
  background-image: url('/favicons/www.thediff.co.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.theguardian.com']:after {
  background-image: url('/favicons/www.theguardian.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.thenewatlantis.com']:after {
  background-image: url('/favicons/www.thenewatlantis.com.jpg');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.theparisreview.org']:after {
  background-image: url('/favicons/www.theparisreview.org.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.thezbook.com']:after {
  background-image: url('/favicons/www.thezbook.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.urbandictionary.com']:after {
  background-image: url('/favicons/www.urbandictionary.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.ursulakleguin.com']:after {
  background-image: url('/favicons/www.ursulakleguin.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.vanityfarce.com']:after {
  background-image: url('/favicons/www.vanityfarce.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.variance.com']:after {
  background-image: url('/favicons/www.variance.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.welcometothejungle.com']:after {
  background-image: url('/favicons/www.welcometothejungle.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.wired.com']:after {
  background-image: url('/favicons/www.wired.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.youtube.com']:after {
  background-image: url('/favicons/www.youtube.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://www.zylstra.org']:after {
  background-image: url('/favicons/www.zylstra.org.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://xdg.me']:after {
  background-image: url('/favicons/xdg.me.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://xsrus.com']:after {
  background-image: url('/favicons/xsrus.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://ycp.so']:after {
  background-image: url('/favicons/ycp.so.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://youtu.be']:after {
  background-image: url('/favicons/youtu.be.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://youtube.com']:after {
  background-image: url('/favicons/youtube.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://zackkanter.com']:after {
  background-image: url('/favicons/zackkanter.com.jpg');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://zenhabits.net']:after {
  background-image: url('/favicons/zenhabits.net.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://zettelkasten.sorenbjornstad.com']:after {
  background-image: url('/favicons/zettelkasten.sorenbjornstad.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://zeynep.substack.com']:after {
  background-image: url('/favicons/zeynep.substack.com.png');
  padding-left: 16px;
  margin-left: 0.5ch;
}
a[href*='https://zwbetz.com']:after {
  background-image: url('/favicons/zwbetz.com.ico');
  padding-left: 16px;
  margin-left: 0.5ch;
}