.list-page {
    background: var(--theme);
}

.post-footer {
    border-bottom: none !important;
}

@media screen and (min-width: 1350px) {
   .toc.side.right {
       width: 265px;
       right: calc(50% - 384px - 265px);
   }
   .toc.side.left {
       width: 265px;
       left: calc(50% - 384px - 265px);
   }
}
