/* First and last child are empty. */
.home-info p+p {
    margin-top: 1rem;
}

.home-info p:last-child {
    margin-bottom: 0;
}

/* Tables */
table td {
    vertical-align: top;
}

.scaler {
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--code-bg);
    color: var(--content);
    margin: 0 5px;
    padding: 0.2em;
}

input.scaler {
    padding: 0.2em 0.6em;
}

button:hover {
    background-color: var(--secondary);
    color: var(--entry);
}

input.scaler {
    width: 10ch;
}

button.scaler {
    width: 4ch;
}

.servings {
    font-weight: bold;
}

.ingredients ul {
    list-style: none;
    padding-left: 0;
}
