/* First and last child are empty. */
.home-info p:first-child,
.home-info p:last-child {
    margin-bottom: 0;
}

.home-info p {
    margin-bottom: 1rem;
}

.home-info p:last-child {
    margin-bottom: 0;
}

/* Tables */

table td {
    vertical-align: top;
}

.post-content .footnotes li blockquote p {
    margin-bottom: inherit;
}
