{{- $scratch := newScratch }}

{{- if or (.Params.yield) (.Params.servings) (.Params.total_time) (.Params.prep_time) (.Params.cook_time) -}}
<dl class="recipe-meta toc">
  {{- if (.Params.servings) -}}
    <dt id="servings-heading">Servings</dt>
    <dd id="servings-cell">{{ .Params.servings }}</dd>
  {{- end -}}
  {{- if (.Params.yield) -}}
    <dt id="yield-heading">Yield</dt>
    <dd id="yield-cell">{{ .Params.yield }}</dd>
  {{- end -}}
  {{- if (.Params.total_time) -}}
    <dt>Total time</dt>
    <dd>{{ .Params.total_time }}</dd>
  {{- end -}}
  {{- if (.Params.prep_time) -}}
    <dt>Prep time</dt>
    <dd>{{ .Params.prep_time }}</dd>
  {{- end -}}
  {{- if (.Params.cook_time) -}}
    <dt>Cook time</dt>
    <dd>{{ .Params.cook_time }}</dd>
  {{- end -}}
</dl>
{{- end }}
