{{- $scratch := newScratch }}

{{- if or (.Params.servings) (.Params.total_time) (.Params.prep_time) (.Params.cook_time) -}}
<table>
  <tr>
    {{- if (.Params.servings) -}}
    <th>Servings</th>
    {{- end -}}

    {{- if (.Params.total_time) -}}
    <th>Total time</th>
    {{- end -}}

    {{- if (.Params.prep_time) -}}
    <th>Prep time</th>
    {{- end -}}

    {{- if (.Params.cook_time) -}}
    <th>Cook time</th>
    {{- end -}}
  </tr>
  <tr>
    {{- if (.Params.servings) -}}
    <td id="servings">{{ .Params.servings }} </td>
    {{- end -}}
    {{- if (.Params.total_time) -}}
    <td>{{ .Params.total_time }} </td>
    {{- end -}}

    {{- if (.Params.prep_time) -}}
    <td>{{ .Params.prep_time }}</td>
    {{- end -}}

    {{- if (.Params.cook_time) -}}
    <td>{{ .Params.cook_time }}</td>
    {{- end -}}
  </tr>
</table>
{{- end }}
